*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    padding: 50px;
}

body>div{
    padding: 30px;
    width: 50%;
    margin: 0 auto;
    background-color: coral;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#pwd-result{
    border: 1px solid black;
    width: 50%;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}
/* finito esercizio */